<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dcyber_africa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/dcyberlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dcyberlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DcyberAfrica">
        <activity android:name=".Contact"></activity>
        <activity
            android:name=".partin"
            android:parentActivityName=".Partner" />
        <activity android:name=".Message" />
        <activity android:name=".Aboutus" />
        <activity android:name=".Partner" />
        <activity android:name=".Teams" />
        <activity android:name=".Framework" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>